input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: #fff;
    color: #30343F;
    padding-bottom: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.my { margin: 10px 0; }
.mx { margin: 0 10px; }
.mt { margin-top: 10px; }
.mb { margin-bottom: 10px; }
.mr { margin-right: 10px; }
.ml { margin-left: 10px; }

.control,
main,
p {
    font-family: "Quicksand", sans-serif;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 5px;
    border-bottom: 8px solid #FF7075;
}

button span {
    pointer-events: none;
}

#vehicle-type-title {
    margin: 0;
    text-align: left;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

#vehicle-type-controls,
#velocity-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vehicle-type-controls > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    width: 30%;
    padding: 5px;
    border: 4px solid #30343F;
}

#vehicle-type-controls > button span:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

#vehicle-type-controls > button span:last-child {
    font-weight: bold;
}

#vehicle-type-controls > button:hover,
#vehicle-type-controls > button:focus {
    background-color: #FF7075;
    cursor: pointer;
} 

#vehicle-type-controls > button.active {
    background-color: #FF7075;
    color: white;
}

#velocity-controls {
    justify-content: center;
}

#velocity-controls input {
    width: 100%;
}

.control,
.control::placeholder,
#vehicle-type-title {
    color: #30343F;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.control {
    border: none;
    outline: none;
    background: none;
    font-size: 2.2rem;
    padding: 4px 0;
    color: #30343F;
    border-bottom: 4px solid #30343F;
}

.labeled {
    display: flex;
    flex-direction: column;
}
.labeled :last-child {
    padding: 5px;
}

#results {
    overflow-x: scroll;
}

#results table {
    text-align: center;
    width: 100%;
    border: 2px solid #30343F;
    border-spacing: 0;
}

#results table tr th {
    background-color: #FF7075;
    color: #fff;
}

#results table tr td,
#results table tr th {
    font-weight: bold;
    padding: 10px;
    border: 2px solid #30343F;
}

@media screen and (max-width: 500px) {
    #results table {
        font-size: .7rem;
    }

    #results table tr td,
    #results table tr th {
        padding: 5px 0px;
    }
}